<a href="https://colab.research.google.com/github/ajayostawal/MovieLens-Recommendation-System/blob/main/collaborative_filtering_SVD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Import libraries
import numpy as np
import pandas as pd

# Reading ratings file
ratings = pd.read_csv('ratings.csv', sep='\t', encoding='latin-1', usecols=['user_id', 'movie_id', 'rating', 'timestamp'])

# Reading users file
users = pd.read_csv('users.csv', sep='\t', encoding='latin-1', usecols=['user_id', 'gender', 'zipcode', 'age_desc', 'occ_desc'])

# Reading movies file
movies = pd.read_csv('movies.csv', sep='\t', encoding='latin-1', usecols=['movie_id', 'title', 'genres'])

In [18]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [19]:
ratings.head()

   user_id  movie_id  rating    timestamp
0        1    1193.0     5.0  978300760.0
1        1     661.0     3.0  978302109.0
2        1     914.0     3.0  978301968.0
3        1    3408.0     4.0  978300275.0
4        1    2355.0     5.0  978824291.0

In [20]:
users.head()

   user_id gender zipcode  age_desc              occ_desc
0        1      F   48067  Under 18          K-12 student
1        2      M   70072       56+         self-employed
2        3      M   55117     25-34             scientist
3        4      M   02460     45-49  executive/managerial
4        5      M   55455     25-34                writer

In [21]:
n_users = ratings.user_id.unique().shape[0]
n_movies = ratings.movie_id.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 927 | Number of movies = 3371

In [23]:
Ratings = ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0)
Ratings.head()

movie_id  NaN     1.0     2.0     3.0     ...  3949.0  3950.0  3951.0  3952.0
user_id                                   ...
1            0.0     5.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 3371 columns]

In [27]:
Ratings.values

array([[0., 5., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 4., 1., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 5.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [28]:
R = Ratings.values
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [30]:
sparsity = round(1.0 - len(ratings) / float(n_users * n_movies), 3)
print('The sparsity level of MovieLens1M dataset is ' +  str(sparsity * 100) + '%')

The sparsity level of MovieLens1M dataset is 95.39999999999999%

In [31]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(Ratings_demeaned, k = 50)

In [32]:
sigma = np.diag(sigma)

In [33]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [34]:
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)
preds.head()

movie_id    NaN       1.0       2.0     ...    3950.0    3951.0    3952.0
0         0.011689  3.946247  0.460839  ...  0.023270 -0.031548  0.132781
1         0.011878  0.750159  0.190558  ... -0.202350 -0.206140 -0.430157
2         0.003545  1.694431  0.376261  ...  0.019142  0.041919 -0.180876
3         0.001160  0.131313 -0.099086  ... -0.011112  0.002262 -0.131856
4         0.019215  0.679623  0.124534  ...  0.077348 -0.082419  0.244777

[5 rows x 3371 columns]

In [36]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.user_id == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movie_id', right_on = 'movie_id').
                     sort_values(['rating'], ascending=False)
                 )

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['movie_id'].isin(user_full['movie_id'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movie_id',
               right_on = 'movie_id').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [43]:
already_rated, predictions = recommend_movies(preds, 310, movies, ratings,5)

User 310 has already rated 223 movies.
Recommending highest 5 predicted ratings movies not already rated.

In [44]:

# Top 20 movies that User 1310 has rated 
already_rated.head(20)

     user_id  ...                              genres
0        310  ...                              Comedy
43       310  ...                               Drama
133      310  ...            Adventure|Drama|Thriller
124      310  ...                      Comedy|Romance
122      310  ...                      Comedy|Romance
114      310  ...                             Romance
1        310  ...                   Children's|Comedy
109      310  ...                      Comedy|Romance
107      310  ...                      Comedy|Romance
102      310  ...                      Comedy|Romance
91       310  ...                      Comedy|Romance
77       310  ...                               Drama
71       310  ...         Animation|Children's|Comedy
70       310  ...                   Children's|Comedy
55       310  ...           Children's|Comedy|Mystery
49       310  ...  Adventure|Children's|Drama|Musical
48       310  ...                Comedy|Drama|Romance
143      310  ...     Action|Adventure|Fantasy|Sci-Fi
145      310  ...                               Drama
148      310  ...                              Comedy

[20 rows x 6 columns]

In [45]:
predictions

      movie_id  ...                               genres
1112      1210  ...  Action|Adventure|Romance|Sci-Fi|War
294        318  ...                                Drama
96         110  ...                     Action|Drama|War
313        339  ...                       Comedy|Romance
3604      3897  ...                         Comedy|Drama

[5 rows x 3 columns]

In [49]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11.8MB 246kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617644 sha256=e9d0adcfbb043f5a6f92554a3f64e063236c7dea0ef7494f5569c04dadc0b889
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [59]:
# Import libraries from Surprise package
import surprise
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate

reader = Reader()

data = Dataset.load_from_df(ratings[['user_id', 'movie_id', 'rating']], reader)


# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.7890  nan     1.7946  1.8024  1.7958  nan     nan
MAE (testset)     1.4035  nan     1.4147  1.4174  1.4133  nan     nan
Fit time          7.78    6.96    6.71    6.92    6.90    7.05    0.38
Test time         0.33    0.25    0.34    0.39    0.23    0.31    0.06

{'fit_time': (7.784466028213501,
  6.958837509155273,
  6.706732749938965,
  6.916215658187866,
  6.899669885635376),
 'test_mae': array([1.40346785,        nan, 1.41467915, 1.41744429, 1.41330084]),
 'test_rmse': array([1.7890276 ,        nan, 1.79458505, 1.80239897, 1.79580911]),
 'test_time': (0.33304524421691895,
  0.2528088092803955,
  0.3355116844177246,
  0.38561201095581055,
  0.22887015342712402)}

In [77]:
ratings[ratings['user_id'] == 310]

       user_id  movie_id  rating     timestamp
46338      310     719.0     5.0  9.764783e+08
46339      310     575.0     5.0  9.764834e+08
46340      310    3791.0     5.0  9.764782e+08
46341      310    2125.0     3.0  9.764814e+08
46342      310    2052.0     4.0  9.764833e+08
...        ...       ...     ...           ...
46556      310    2978.0     4.0  1.012082e+09
46557      310     708.0     4.0  9.764815e+08
46558      310     562.0     5.0  9.764826e+08
46559      310     497.0     4.0  9.764814e+08
46560      310    1246.0     5.0  9.764776e+08

[223 rows x 4 columns]

In [78]:
algo.predict(310, 1994)

Prediction(uid=310, iid=1994, r_ui=None, est=5, details={'was_impossible': False})